/* 
	The main css file for connecting styles to the html file (SolarP.html)
*/



/* The styles of the general elements */
h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 32.69px;
	color: #868585;
}

h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 24.52px;
}

text {
	display: block;
	font-weight: 400px;
	font-size: 14px;
	line-height: 19.07px;
	color: #303030;
}

a {
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	line-height: 24.52px;
}

nav {
	margin-top: 60px;
	margin-bottom: 125px;
}

img {
	display: block;
}

content {
	display: block;
}

header {
	background: url("pictures/SolarBg.png") no-repeat;
	padding: 261px 450px 334px 449px; 
	color: white;
	text-align: center;
}

/* The style of the general styles in the 'header...' */
header p {
	font-weight: 400;
	font-size: 18px;
	line-height: 24.52px;
}

header p:last-child {
	display: block;
	margin-top: 109px;
}

header h1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 87.17px;
}

header h2 {
	font-weight: 400;
	font-size: 42px;
	line-height: 57.2px;
}

/* The style of the general styles in the 'nav...' and 'form...' */
nav a {
	margin-right: 40px;
}

form input {
	display: block;
	width: 510px;
	height: 50px;
	margin-top: 60px;
	background-color: rgb(0, 0, 0, 0);
	border-bottom: 2px white solid;
}

/* Special styles of input text and settings of 'placeholder property' */

/* For 'placeholder property' */
::-webkit-input-placeholder {
	color: white;
}

/* For input text*/
INPUT[type="text"] {
	color: white;
}


/* The styles of blocks */


/* The styles of '.services...' */
.services {
	display: table;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
}

/* The styles of the general elements in the '.services' */
.services img {
	display: inline-block;
	margin-top: 84px;
	width: 550px;
}

.services text {
	display: block;
	margin-top: 50px;
}

/* ---------------- */
.services__textes {
	display: inline-block;
	max-width: 510px;
} 

/* The styles of '.green tariff...' */
.green_tariff {
	display: table;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 150px;
}

/* The styles of the general elements in the '.green_tariff'*/
.green_tariff content {
	display: block;
}

/* The styles of the elements in the '.green_tariff__content_1' and '.content_1...' */
.green_tariff__content_1 {
	display: inline-block;
}

/* The styles of the general elements in the '.content_1__text' and '.content_1__textes' */
.content_1__text text {
	display: inline-block;
	margin-left: 40px;
}

.content_1__text img {
	display: inline-block;
}

.content_1__textes {
	margin-top: 100px;
}

/* The styles of the 'text__block_n' */
.textes__block_1 {
	display: inline-block;
}

.textes__block_2 {
	display: inline-block;
	margin-left: 34.5px;
}

/* The styles of the '.green_tariff__content_2' */
.green_tariff__content_2 {
	display: inline-block;
	margin-top: 60px;
	margin-left: 90px;
	vertical-align: top;
}

.quote {
	padding-top: 128px;
	padding-bottom: 144px;
	text-align: center;
	background: url("pictures/SolarBg2.png");
	font-size: 42px;
	font-weight: 400;
	line-height: 57px;
	letter-spacing: 0em;
	color: white;
}

/* The styles of the '.clients' */
.clients {
	display: table;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
}

/* The styles of the general elements of '.clients' */
.clients content{
	margin-top: 60px;
}	

.clients img {
	display: inline-block;
}

.clients__text {
	display: inline-block;
	margin-left: 91px;
}

/* The styles of the '.five_steps...' */
.five_steps {
	display: table;
	margin-top: 182px;
	margin-left: auto;
	margin-right: auto;
}

/* The styles of the general elements of '.five_steps...' */
.five_steps img {
	display: inline-block;
	margin-left: 25px;
}

.five_steps__textes h3 {
	display: block;
	max-width: 324px;
	padding-bottom: 30px;
}

.five_steps__textes {
	display: inline-block;
}

/* The styles of the '.textes__text...' */
.textes__text {
	margin-top: 30px;
	max-width: 450px;
}

.textes__text p {
	display: block;
}

.register {
	display: inline-block;
}

.register button {
	width: 200px;
	height: 30px;
	font-size: 18px;
	margin-top: 89px;
	background-color: rgb(0, 0, 0, 0);
	color: white;
}

/* The style of the 'footer...' */
footer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 150px;
	padding-top: 70px;
	background: url("pictures/FtBg.png");
}

footer h3 {
	color: white;
}

footer input {
	background-color: rgb(0, 0, 0, 0);
}

/* The styles of the '.footer__textes' and '.textes_textes' */
.footer__textes {
	display: inline-block;
	vertical-align: top;
	margin-left: 91px;
}

.textes_textes {
	margin-top: 60px;
}

.textes_textes p {
	display: block;
	margin-bottom: 30px;
	color: white;
}